<!DOCTYPE html>
<html ng-app="knApp">
<head>
<link rel="stylesheet" type="text/css"
	href="/kutatasinaplo/css/bootstrap/css/bootstrap.css">

<link rel="stylesheet" type="text/css"
	href="/kutatasinaplo/css/kn/header.css">
<link rel="stylesheet" type="text/css"
	href="/kutatasinaplo/css/kn/base.css">

<script src="../js/jquery/jquery-2.1.4.min.js"></script>
<script src="../js/angular/angular.min.js"></script>
<script src="../js/bootstrap/bootstrap.min.js"></script>

<script src="../js/kn/base.js"></script>
<script src="../js/kn/components/header.js"></script>
<script src="../js/kn/admin.js"></script>

<title>Kutatasi naplo - index</title>
</head>
<body>
	<div ng-controller="HeaderController">
		<header></header>
	</div>
	<div id="page-container" ng-controller="AdminController">
		<div class="page-content">
			<div class="page-title-container">
				<h2 class="page-title">Manage users</h2>
				<button class="btn btn-default page-title-button" type="submit"  ng-click="edit()" ng-hide="inEditorMode">
					<span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
					Edit
				</button>
				<button class="btn btn-default page-title-button" type="submit" ng-show="inEditorMode" ng-click="save()">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					Save
				</button>
				
			</div>
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Email</th>
							<th>Role</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="usr in users" ng-click="load(exp.id)"
							class="experiment-row">
							<th scope="row">{{$index + 1}}</th>
							<td>{{usr.name}}</td>
							<td>{{usr.email}}</td>
							<td ng-hide="inEditorMode">{{usr.role}}</td>
							<td ng-show="inEditorMode">
							<select ng-model="usr.role" ng-options="r for r in roles">
<!-- 									<option id="{{rol}}" ng-repeat="rol in roles" value="{{rol}}">{{rol}}</option> -->
							</select></td>
							<td>{{usr.owner.name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>