<div id="header-container">
	<div class="header-title">
		<div class="header-menu-content">
			Kutatási Napló
		</div>
	</div>
	<a href="/kutatasinaplo/auth/projects.html">
		<div class="header-button header-left-button">
			<div class="header-menu-content">
				Projects
			</div>
		</div>
	</a>
	<a href="/kutatasinaplo/experiments.html">
		<div class="header-button header-left-button">
			<div class="header-menu-content">
				Experiments
			</div>
		</div>
	</a>
	<div class="header-button header-right-button" ng-if="user" ng-click="logout()">
		<div class="header-menu-content">
			Log out ({{user.name}})
		</div>
	</div>
	<div class="header-button header-right-button" ng-if="!user" ng-click="signIn()">
		<div class="header-menu-content">
			Sign in
		</div>
	</div>
	<a href="/kutatasinaplo/auth/admin.html">
		<div class="header-button header-right-button ">
			<div class="header-menu-content">
				Administration
			</div>
		</div>
	</a>
</div>
<div id="message-container" ng-if="message.present">
	<div class="alert alert-{{message.type}} header-message" role="alert">{{message.message}}</div>	
</div>