<div id="header-container">
	<div class="header-title">
		<div class="header-menu-content">
			Kutatási Napló
		</div>
	</div>
	<a href="/kutatasinaplo/auth/projects.html">
		<div class="header-button header-left-button">
			<div class="header-menu-content">
				Projects
			</div>
		</div>
	</a>
	<a href="/kutatasinaplo/experiments.html">
		<div class="header-button header-left-button">
			<div class="header-menu-content">
				Experiments
			</div>
		</div>
	</a>
	<a href="/kutatasinaplo/auth/admin.html">
		<div class="header-button header-right-button ">
			<div class="header-menu-content">
				Administration
			</div>
		</div>
	</a>
</div>