<div class="key-value-pair">
	<div class="key-value-pair-container form-inline" ng-repeat="p in values">
		<span class="glyphicon glyphicon-trash clickable key-value-pair-trash-icon trash-icon" aria-hidden="true" ng-click="deleteCallback(p)"></span>
		<div class="form-group">
			<label for="key{{$index}}" class="key-value-pair-label">{{keyLabel}}:</label> 
			<input type="text" class="form-control key-value-pair-key-input" id="key{{$index}}" placeholder="" ng-model="p.key">
		</div>
		<div class="form-group" ng-if="type!=='input'">
			<label for="value{{$index}}" class="key-value-pair-label">{{valueLabel}}:</label> 
			<textarea class="form-control key-value-pair-description-input not-resizable" id="value{{$index}}" placeholder="" ng-model="p.value" rows="3" cols="66"> </textarea>
		</div>
		<div class="form-group" ng-if="type==='input'">
			<label for="value{{$index}}" class="key-value-pair-label">{{valueLabel}}:</label> 
			<input type="text" class="form-control key-value-pair-description-input" id="value{{$index}}" placeholder="" ng-model="p.value">
		</div>
	</div>
	<button type="submit" class="btn btn-default" ng-click="addCallback()">{{buttonLabel}}</button>
</div>