<!DOCTYPE html>
<html ng-app="knApp">
<head>
<link rel="stylesheet" type="text/css" href="css/bootstrap/css/bootstrap.css">

<link rel="stylesheet" type="text/css" href="css/kn/base.css">
<link rel="stylesheet" type="text/css" href="css/kn/header.css">
<link rel="stylesheet" type="text/css" href="css/kn/experimentPage.css">

<script src="js/jquery/jquery-2.1.4.min.js"></script>
<script src="js/angular/angular.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>
<script src="js/purl.js"></script>
<script src="js/multiselect.js"></script>

<script src="js/kn/base.js"></script>
<script src="js/kn/components/header.js"></script>
<script src="js/kn/experimentPage.js"></script>
<script src="js/kn/components/keyValuePairComponent.js"></script>

<title>Kutatasi naplo - index</title>
</head>
<body>
	<div ng-controller="HeaderController">
		<header></header>
	</div>
	<div id="page-container" ng-controller="ExperimentController">
		<div class="page-content">
			<div class="page-title-container">
				<h2 class="page-title">
					<span>Experiment:</span>
					<span class="inline-input-span" ng-if="!inEditorMode">{{data.name}}</span>
					<span class="inline-input-span" ng-if="inEditorMode">
						<input id="name" type="text" class="form-control inline-input" placeholder="Name" ng-model="data.name" value="{{data.name}}">
					</span>
					<span class="label label-primary page-title-label" ng-if='data.public == "true"'>Public</span>
					<span class="label label-warning page-title-label" ng-if='data.public == "false"'>Private</span>
				</h2>
				<button class="btn btn-default page-title-button" type="submit" ng-click="edit()" ng-if="!inEditorMode && hasPermissionTo('EDIT_EXPERIMENT')">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					Edit
				</button>
				<button class="btn btn-success page-title-button" type="submit" ng-click="save()" ng-if="inEditorMode && hasPermissionTo('SAVE_EXPERIMENT')">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					Save
				</button>
				<button class="btn btn-default page-title-button" type="submit" ng-click="slideDownAdder()" ng-if="hasPermissionTo('ADD_PARTICIPANT')">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					Add participants
				</button>
			</div>
			<div id="add-participants-form-container" class="accordion-form-container">
				<form>
				  <div class="row">
					  <div class="col-xs-5">
					    <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">
					        <option value="{{u.id}}" ng-repeat="u in canParticipate">{{u.name}}</option>
					    </select>
					  </div>
					  <div class="col-xs-2">
					    <button type="button" id="multiselect_rightAll" class="btn btn-block btn-default"><i class="glyphicon glyphicon-forward"></i></button>
					    <button type="button" id="multiselect_rightSelected" class="btn btn-block  btn-primary"><i class="glyphicon glyphicon-chevron-right"></i></button>
					    <button type="button" id="multiselect_leftSelected" class="btn btn-block  btn-primary"><i class="glyphicon glyphicon-chevron-left"></i></button>
					    <button type="button" id="multiselect_leftAll" class="btn btn-block  btn-default"><i class="glyphicon glyphicon-backward"></i></button>
					  </div>
					  <div class="col-xs-5">
					    <select name="to" id="multiselect_to" class="form-control" size="8" multiple="multiple">
					        <option value="{{u.id}}" ng-repeat="u in data.participants">{{u.name}}</option>
					    </select>
					  </div>
					</div>
				  <button type="submit" class="btn btn-success" ng-click="setParticipants()">Save</button>
				  <button type="submit" class="btn btn-warning" ng-click="slideUpAdder()">Cancel</button>
				</form>
			</div>
			<div>
				<h4>
					Description
				</h4>
				<span ng-if="!inEditorMode">
					{{data.description}}
				</span>
				<div ng-if="inEditorMode" class="form-group" >
					<p class="alert alert-danger" ng-if="!validationMap.description.valid">{{validationMap.description.msg}}</p>
					<textarea class="not-resizable form-control" rows="6" cols="100" ng-model="data.description">{{data.description}}</textarea>
				</div>
				
				<hr/>
				
				<div class="left-panel">
					<h4>
						Owner
					</h4>
					<span ng-if="!inEditorMode">
						{{data.owner.name}}
					</span>
					<div ng-if="inEditorMode" class="form-group" >
						<select class="form-control" ng-model="data.owner" ng-options="u as u.name for u in users ">
<!-- 						    <option ng-value="u" ng-repeat="u in users">{{u.name}}</option> -->
								<option value="" disabled selected>{{data.owner.name}}</option>
						</select>
					</div>
				</div>
				
				<div class="right-panel">
					<h4>
						Participants
					</h4>
					<p ng-repeat="p in data.participants">
						{{p.name}}
					</p>
				</div>
				
				<div class="after-devided-panels"></div>
				<hr/>
				
				<div class="left-panel">
					<h4>
						Files
					</h4>
					<div ng-if="!inEditorMode">
						<p ng-repeat="f in data.attachments">
							<a href="../kutatasinaplo/rest/file/download/attachment?id={{f.id}}" class="btn btn-link">{{f.name}}</a>
						</p>
					</div>
					<div ng-if="inEditorMode && hasPermissionTo('UPLOAD')" class="form-group" >
						<div>
							Already uploaded
							<p ng-repeat="f in data.attachments">
								{{f.name}} <span class="glyphicon glyphicon-trash clickable  trash-icon" aria-hidden="true" ng-click="deleteAttachment(f.id)"></span>
							</p>
						</div>
						<div>
							New
							<p ng-repeat="f in addedFiles">
								{{f.name}}
							</p>
						</div>
						<div class="input-group">
			                <span class="file-input btn btn-primary btn-file">
				                Browse&hellip; <input id="attachmentInput" type="file" onchange="angular.element(this).scope().attachmentChanged(this)">
				            </span>
				            <button type="submit" class="btn btn-success" ng-click="uploadAddedFiles()">Upload</button>
			            </div>
					</div>
				</div>
				
				<div class="right-panel">
					<h4>
						Urls
					</h4>
					<span ng-if="!inEditorMode">
					<p ng-repeat="u in data.urls">
						<a class="btn btn-link" href="{{u.value}}">{{u.key}}</a>
					</p>
					</span>
					<div ng-if="inEditorMode && hasPermissionTo('ADD_URL')" class="form-group" >
						<p class="alert alert-danger" ng-if="!validationMap.urls.valid">{{validationMap.urls.msg}}</p>
						<key-value-pair-component 
							id="urls" 
							values="data.urls" 
							key-label="'Label'" 
							value-label="'Url'" 
							button-label="'Add'" 
							add-callback="addNewUrl()"
							delete-callback="removeUrl"
							type="'input'">
						</key-value-pair-component>
					</div>
				</div>
				
				<div class="after-devided-panels"></div>
				<hr/>
				
				<h4>
					Images
				</h4>
				<div ng-if="!inEditorMode">
					<div ng-repeat="f in data.images" class="image-container">
						<div class="image-inner-div" >
							<img alt="Embedded Image" src="data:image/png;base64,{{f.data}}" class="experiment-image" />
							<br/>
							<p class="image-label">
								{{f.name}}
							</p>
						</div>
					</div>
				</div>
				<div ng-if="inEditorMode && hasPermissionTo('UPLOAD')" class="form-group" >
					<div>
						Already uploaded
						<p ng-repeat="f in data.images">
							{{f.name}} <span class="glyphicon glyphicon-trash clickable trash-icon" aria-hidden="true" ng-click="deleteImage(f.id)"></span>
						</p>
					</div>
					<div>
						New
						<p ng-repeat="f in addedImages">
							{{f.name}}
						</p>
					</div>
					<div class="input-group">
		                <span class="file-input btn btn-primary btn-file">
			                Browse&hellip; <input id="attachmentInput" type="file" onchange="angular.element(this).scope().imageChanged(this)">
			            </span>
			            <button type="submit" class="btn btn-success" ng-click="uploadAddedImages()">Upload</button>
		            </div>
				</div>
								
			</div>
		</div>
	</div>
</body>
</html>