#page-container {
	width: 940px;
	margin: 0px auto;
	margin-top: 15px;
}

.page-content {
	margin: 0px auto;
	width: 900px;
}

.page-title-container {
	height: 50px;
	margin-bottom: 30px;
}

.page-title {
	display: inline-block;
	width: 600px;
}

.page-title-button {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 15px;
}

.page-title-label {
	margin-left: 15px;
    vertical-align: text-top;
    float: right;
}

.not-resizable {
	resize: none;
}

.accordion-form-container {
	display: none;
}

.key-value-pair-label {
	margin-right: 5px;
}

.key-value-pair-key-input {
	margin-right: 5px;
}

.key-value-pair-description-input {
	
}

.key-value-pair-container {
	margin-bottom: 5px;
}

.key-value-pair {
	margin-bottom: 10px;
}

.inline-input-span {
	overflow:auto;
    display:inline-block;
    width: 250px;
    vertical-align: bottom;
}

.inline-input {
	float: left;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.left-panel{
	float: left;
	width: 45%;
}

.right-panel{
	float: right;
	width: 45%;
	margin-left: 15px;
}

.after-devided-panels {
	clear: both;
}

.image-container {
	display: inline-block;
	width: 250px;
}

.image-inner-div {
	margin: 20px auto;
	width: 200px;
	
}

.image-label {
	text-align: center;
	width: 200px;
}

.clickable {
	cursor: pointer;
}

.key-value-pair-trash-icon {
	float:right;
}

.trash-icon {
	color:red;
}

.page-title-icon {
	float:right;
	color:red;
	font-size: 25px;
}
.alert.alert-danger{
	margin-top: 5px;
}

#message-container {
	height: 50px;
	border-color: #854442;
	border-width: 1px;
	border-bottom-style: solid;
}

.header-message {
	width: 700px;
    padding: 0 20px;
    margin: auto;
    height: 40px;
    line-height: 40px;
}